<% layout('layout/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %> </h4>
            <% if(process.env.NODE_ENV !== "production") { %> 
                <p><%= err.stack %> </p>
            <% } %> 
            <hr>
            <p class="mb-0">Looks like we've encountered a error, maybe try something else.</p>
          </div>
    </div>
</div>
